@import '../../../../styles-var/devui-var';

.#{$devui-prefix}-datepicker-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  overflow: visible;

  .popup-tracing {
    position: absolute;
  }
}
