.d-steps-guide {
  width: 400px;
  min-height: 160px;
  background: rgb(94, 124, 224);
  box-shadow: rgba(81, 112, 255, 0.3) 0 4px 16px 0;
  border-radius: 4px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  padding: 20px;
  position: absolute;

  .devui-title {
    opacity: 1;
    margin: 0 0 20px 0;
    padding: 0;
  }
}
