@import '../../../styles-var/devui-var.scss';

.#{$devui-prefix}-tags {
  &-input {
    flex: 1;
    padding: 1px 20px 1px 4px;
    border: 1px solid $devui-form-control-line;
    border-radius: $devui-border-radius;
    outline: none;
    background-color: $devui-base-bg;
    transition: border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &-box {
    width: 100%;
    overflow: auto;
    min-height: 28px;
    max-height: 56px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-placeholder {
    font-size: $devui-font-size;
    line-height: 22px;
    margin-left: 6px;
    color: $devui-placeholder;
  }
}
