@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-checkbox__group {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  & > * {
    margin-top: 8px;
  }

  &.is-row {
    flex-direction: row;

    & div:not(:last-child) {
      margin-right: 20px;
    }
  }

  &.is-column {
    flex-direction: column;
  }
}
