@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-step {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;

  &:last-child {
    &:not(.center):not(.#{$devui-prefix}-step--simple) {
      flex-basis: auto !important;
    }

    flex-shrink: 0;

    .#{$devui-prefix}-step__line {
      display: none;
    }
  }

  &__dot-container {
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__dot {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $devui-brand-foil;
    color: $devui-text;
  }

  &__line {
    position: absolute;
    top: 12px;
    left: 24px;
    width: calc(100% - 24px);
    height: 1px;
    background-color: $devui-line;
  }

  &__title {
    color: $devui-placeholder;
  }

  &__description {
    color: $devui-placeholder;
    font-size: 12px;
  }

  &.active {
    .#{$devui-prefix}-step__dot {
      background-color: $devui-brand;
      color: $devui-light-text;
    }

    .#{$devui-prefix}-step__title, .#{$devui-prefix}-step__description {
      color: $devui-brand;
    }
  }

  &.finished {
    .#{$devui-prefix}-step__dot {
      background-color: $devui-success;
    }

    .#{$devui-prefix}-step__title, .#{$devui-prefix}-step__description {
      color: $devui-success;
    }
  }

  &.center {
    text-align: center;

    .#{$devui-prefix}-step__line {
      left: calc(50% + 12px);
    }
  }

  // 步骤条状态
  &.wait {
    .devui-step__dot {
      background-color: $devui-brand-foil;
      color: $devui-text;
    }

    .devui-step__title {
      color: $devui-placeholder;
    }
  }

  &.process {
    .devui-step__dot {
      background-color: $devui-brand;
      color: $devui-light-text;
    }

    .devui-step__title {
      color: $devui-brand;
    }
  }

  &.finish {
    .devui-step__dot {
      background-color: $devui-success;
      color: $devui-light-text;
    }

    .devui-step__title {
      color: $devui-success;
    }
  }

  &.success {
    .devui-step__dot {
      background-color: $devui-success;
      color: $devui-light-text;
    }

    .devui-step__title {
      color: $devui-success;
    }
  }

  &.error {
    .devui-step__dot {
      background-color: $devui-danger;
      color: $devui-light-text;
    }

    .devui-step__title {
      color: $devui-danger;
    }
  }
}
