@import '../../styles-var/devui-var';

.#{$devui-prefix}-breadcrumb {
  display: flex;
  align-items: center;

  .#{$devui-prefix}-breadcrumb-item:last-child {
    .#{$devui-prefix}-breadcrumb-separator {
      display: none;
    }
  }
}
