@import '../../styles-var/devui-var.scss';

.devui-breadcrumb-font-style {
  font-size: $devui-font-size;
  color: $devui-aide-text;
  line-height: 18px;
}

.devui-breadcrumb-item {
  @extend.devui-breadcrumb-font-style;

  cursor: auto;

  a {
    @extend.devui-breadcrumb-font-style;

    cursor: pointer;

    &:hover {
      color: $devui-text;
      text-decoration: none;
    }
  }

  a,
  span {
    transition:
      color $devui-animation-duration-slow
      $devui-animation-ease-in-out-smooth;
  }

  .is-link {
    cursor: pointer;

    &:hover {
      color: $devui-text;
      text-decoration: none;
    }
  }
}

.devui-breadcrumb-separator {
  @extend.devui-breadcrumb-font-style;

  margin: 0 4px;
}
