@import '../../style/mixins/index';
@import '../../style/theme/color';
@import '../../style/theme/variables';
@import '../../style/theme/font';
@import '../../style/theme/corner';

.devui-btn {
  padding: 0 20px;
  font-size: $devui-font-size-md;
  height: 28px;
  line-height: $devui-line-height-base;
  border: none;
  border-radius: $devui-border-radius;
  border-width: 1px;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &-solid {
    color: $devui-light-text;
    min-width: 64px;

    &-secondary {
      color: $devui-text;
      background-color: $devui-dividing-line;

      &:hover {
        opacity: 0.8;
      }

      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.8;
      }

      &:disabled {
        opacity: 0.8;
      }
    }

    &-primary {
      background-color: $devui-primary;

      &:hover {
        background-color: $devui-primary-hover;
      }

      &:focus {
        background-color: $devui-primary-hover;
      }

      &:active {
        background-color: $devui-primary-active;
      }

      &:disabled {
        color: $devui-light-text;
        background: $devui-primary-disabled;
        border: none;
      }
    }

    &-danger {
      background-color: $devui-contrast;

      &:hover {
        background-color: $devui-contrast-hover;
      }

      &:focus {
        background-color: $devui-contrast-hover;
      }

      &:active {
        background-color: $devui-contrast-active;
      }

      &:disabled {
        background-color: $devui-contrast-disabled;
      }
    }
  }

  &-outline {
    background-color: $devui-block;
    border-style: solid;

    &-secondary {
      color: $devui-text;
      border-color: $devui-line;

      &:hover {
        color: $devui-brand-active;
        border-color: $devui-form-control-line-active;
      }

      &:focus {
        color: $devui-brand-active;
        border-color: $devui-form-control-line-active;
      }

      &:active {
        color: $devui-brand-active;
        border-color: $devui-form-control-line-active;
      }

      &:disabled {
        color: $devui-disabled-text;
        border-color: $devui-disabled-line;
        background-color: $devui-disabled-bg;
      }
    }

    &-primary {
      color: $devui-brand-active;
      border-color: $devui-form-control-line-active;

      &:hover {
        color: $devui-brand-active-focus;
        border-color: $devui-form-control-line-active-hover;
      }

      &:focus {
        color: $devui-brand-active-focus;
        border-color: $devui-form-control-line-active-hover;
      }

      &:active {
        color: $devui-brand-active-focus;
        border-color: $devui-form-control-line-active-hover;
      }

      &:disabled {
        opacity: 0.8;
      }
    }

    &-danger {
      color: $devui-contrast;
      border-color: $devui-contrast;

      &:hover,
      &:focus,
      &:active,
      &:disabled {
        opacity: 0.8;
      }
    }
  }

  &-text {
    padding: 0;

    &-secondary {
      color: $devui-text;

      &:hover {
        color: $devui-list-item-hover-text;
      }

      &:focus {
        color: $devui-list-item-hover-text;
      }

      &:active {
        color: $devui-list-item-hover-text;
      }

      &:disabled {
        color: $devui-disabled-text;
      }
    }

    &-primary {
      color: $devui-brand-active;

      &:hover {
        color: $devui-brand-active-focus;
      }

      &:focus {
        color: $devui-brand-active-focus;
      }

      &:active {
        color: $devui-brand-active-focus;
      }

      &:disabled {
        opacity: 0.8;
      }
    }

    &-danger {
      color: $devui-contrast;

      &:hover,
      &:focus,
      &:active,
      &:disabled {
        opacity: 0.8;
      }
    }
  }

  &-xs {
    padding: 0 4px;
    height: 24px;
    font-size: $devui-font-size-sm;
    min-width: 48px;
  }

  &-sm {
    padding: 0 16px;
    height: 24px;
    font-size: $devui-font-size-sm;
    min-width: 56px;
  }

  &-lg {
    padding: 0 24px;
    height: 32px;
    font-size: $devui-font-size-lg;
    min-width: 72px;
  }

  &.devui-btn-icon {
    &:hover,
    &:focus {
      border: 1px solid $devui-list-item-hover-bg;
      background-color: $devui-list-item-hover-bg;
    }

    &:disabled {
      background-color: $devui-disabled-bg;
    }
  }

  &:not(:disabled) {
    &.devui-btn-text {
      &.devui-btn-icon-wrap {
        color: $devui-text;

        .devui-icon-fix {
          color: $devui-text-weak;
        }

        &:hover {
          color: $devui-list-item-hover-text;

          .devui-icon-fix {
            color: $devui-icon-fill-active;
          }
        }
      }
    }
  }
}

.devui-loading {
  .devui-loading-default-spinner {
    div {
      background-color: $devui-text;
    }
  }
}

.devui-btn {
  transition: background-color 0.2s;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.devui-btn-icon {
    padding: 8px;
    line-height: 1em;
    border: 1px solid transparent;

    &.devui-btn-xs,
    &.devui-btn-sm {
      padding: 4px;
    }

    &.devui-btn-xs {
      min-width: 24px;
    }

    &.devui-btn-sm {
      min-width: 24px;
    }

    &.devui-btn-lg {
      .icon {
        font-size: $devui-font-size-icon;
      }

      min-width: 32px;
    }
  }

  &:not(.devui-btn-icon) {
    .icon-fix {
      font-size: $devui-font-size-icon;
    }
  }
}

.devui-icon-fix {
  position: relative;
  font-size: $devui-font-size;
}

.button-content {
  display: inline-block;
  position: relative;
}

.clear-right-5 {
  margin-right: 5px;
}
