@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-time-picker {
  width: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $devui-form-control-line;
  position: relative;
  transition: 0.2s;

  &:hover {
    border: 1px solid $devui-form-control-line-hover;
  }

  .time-input {
    border: none;
    outline: none;
    width: 100%;
    background-color: $devui-base-bg;
    color: $devui-text;
  }

  .time-input-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: $devui-base-bg;

    div {
      text-align: right;
      height: 25px;
      line-height: 22px;
      padding: 0 4px;
    }
  }
}

.time-picker-active {
  border: 1px solid $devui-form-control-line-active !important;
}

.picker-disabled {
  background-color: $devui-unavailable;
  cursor: no-drop;

  :not(.time-input-icon) {
    background-color: $devui-unavailable;
    cursor: no-drop;
  }
}
