@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-time-picker {
  width: 200px;

  .time-input-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .clear-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
  }
}
