@import '../../../../styles-var/devui-var.scss';

.#{$devui-prefix}-form__item {
  &--horizontal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &--error {
    margin-bottom: 0;
  }
}
