@import '../../styles-var/devui-var';

.#{$devui-prefix}-textarea__wrap {
  .#{$devui-prefix}-textarea__show-count {
    text-align: right;
    color: inherit;
    white-space: nowrap;
    pointer-events: none;
    font-size: $devui-font-size;
  }
}
