@use 'sass:math';

@import '../../styles-var/devui-var.scss';

:host {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.#{$devui-prefix}-switch {
  width: 36px;
  height: 18px;
  border-radius: $devui-border-radius-full;
  background: $devui-line;
  border: 1px solid $devui-line;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  padding: 0;
  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  transition: $devui-animation-duration-slow $devui-animation-ease-in-out-smooth all;

  &:not(.#{$devui-prefix}-switch--checked):hover {
    border-color: $devui-line;
  }

  &:active {
    border-color: $devui-brand-active-focus;
  }

  &.#{$devui-prefix}-switch--checked:hover {
    border-color: $devui-brand-active;
  }

  .#{$devui-prefix}-switch__inner-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 16px;
    font-size: $devui-font-size;
    box-sizing: border-box;

    .#{$devui-prefix}-switch__inner {
      color: $devui-light-text;
      width: 100%;
      height: 100%;
      text-align: center;
      overflow: hidden;
    }
  }

  &.#{$devui-prefix}-switch--checked .#{$devui-prefix}-switch__inner-wrapper {
    padding-left: unset;
    padding-right: 16px;
  }

  small {
    width: 16px;
    height: 16px;
    background: $devui-light-text;
    border-radius: $devui-border-radius-full;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: $devui-animation-duration-slow $devui-animation-ease-in-out-smooth all;
  }

  &.#{$devui-prefix}-switch--checked small {
    left: 19px;
  }

  &.#{$devui-prefix}-switch--lg {
    width: 58px;
    height: 28px;

    .#{$devui-prefix}-switch__inner-wrapper {
      padding-left: 28px;
      padding-top: 2px;
      font-size: $devui-font-size-modal-title;
    }

    &.#{$devui-prefix}-switch--checked .#{$devui-prefix}-switch__inner-wrapper {
      padding-left: unset;
      padding-right: 28px;
    }

    & small {
      width: 26px;
      height: 26px;
      top: 1px;
      left: 1px;
    }

    &.#{$devui-prefix}-switch--checked small {
      background: $devui-light-text;
      left: 30px;
    }
  }

  &.#{$devui-prefix}-switch--sm {
    width: 30px;
    height: 15px;

    .#{$devui-prefix}-switch__inner-wrapper {
      padding-left: 12px;
      font-size: $devui-font-size-sm;
      vertical-align: top;
    }

    &.#{$devui-prefix}-switch--checked .#{$devui-prefix}-switch__inner-wrapper {
      padding-left: unset;
      padding-right: 12px;
    }

    & small {
      width: 12px;
      height: 12px;
      position: absolute;
    }

    &.#{$devui-prefix}-switch--checked small {
      left: 17px;
    }
  }

  &.#{$devui-prefix}-switch--checked {
    background: $devui-brand;
    border-color: $devui-brand;

    &:hover {
      background: $devui-brand-active;
      border-color: $devui-brand-active;
    }

    &:active {
      background: $devui-brand-active-focus;
      border-color: $devui-brand-active-focus;
    }
  }

  &.#{$devui-prefix}-switch--disabled {
    &,
    &:hover,
    &:active,
    &.#{$devui-prefix}-switch--checked {
      cursor: not-allowed;
    }

    &,
    &:hover,
    &:active {
      background-color: $devui-disabled-line;
      border-color: $devui-disabled-line;

      small {
        background-color: $devui-unavailable;
      }
    }

    &.#{$devui-prefix}-switch--checked {
      background-color: $devui-icon-fill-active-disabled;
      border-color: $devui-icon-fill-active-disabled;

      small {
        background-color: $devui-light-text;
      }
    }
  }
}
