@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-slider {
  position: relative;
  width: 90%;
  display: block;

  &.disabled {
    cursor: not-allowed;
    background-color: $devui-disabled-line;
    border-color: $devui-disabled-line;
  }

  &__runway {
    position: relative;
    width: 100%;
    padding: 4px 0;
    margin: 4px 0;
    cursor: pointer;
    box-sizing: border-box;
    height: 5px;
    display: flex;
    align-items: center;
    background-color: $devui-default-bg;

    &.disabled {
      cursor: not-allowed;
    }

    .#{$devui-prefix}-slider__bar {
      height: 6px;
      background-color: $devui-default-line;
      border-top-left-radius: $devui-border-radius;
      border-bottom-left-radius: $devui-border-radius;
      position: absolute;

      &.disabled {
        background-color: $devui-disabled-line;
        border-color: $devui-disabled-line;
      }

      &.disabled:hover {
        cursor: not-allowed;
      }
    }

    .#{$devui-prefix}-slider__button {
      position: absolute;
      width: 14px;
      height: 14px;
      border: 2px solid $devui-default-line;
      background-color: $devui-base-bg;
      border-radius: 50%;
      margin-left: -7px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      &.disabled {
        background-color: $devui-base-bg;
        border-color: $devui-disabled-line;
      }

      &.disabled:hover {
        cursor: not-allowed;
        transform: none;
      }
    }

    .#{$devui-prefix}-slider__popover {
      position: relative;
      bottom: 26px;
      transform: translate(-50%);
      border-radius: $devui-border-radius-feedback;
      font-size: $devui-font-size-sm;
      color: $devui-feedback-overlay-text;

      .#{$devui-prefix}-slider__popover-arrow {
        position: absolute;
        left: 50%;
        margin-left: -4px;
        bottom: -4px;
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
        display: block;
        z-index: -1;
        background-color: $devui-feedback-overlay-bg;
      }

      .#{$devui-prefix}-slider__popover-content {
        padding: 5px 14px;
        text-align: center;
        border-radius: $devui-border-radius-feedback;
        background-color: $devui-feedback-overlay-bg;
      }
    }
  }

  .#{$devui-prefix}-slider__min-count {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: $devui-font-size;
    color: $devui-text;
  }

  .#{$devui-prefix}-slider__max-count {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: $devui-font-size;
    color: $devui-text;
  }

  .#{$devui-prefix}-slider__input-wrap {
    font-size: $devui-font-size;
    position: absolute;
    right: -60px;
    top: -12px;
    padding: 5px 10px;
    cursor: text;
    margin-left: 20px;

    input {
      width: 40px;
      text-align: center;
    }
  }
}
