.devui-radio-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  &.is-row {
    flex-direction: row;
  }

  &.is-column {
    flex-direction: column;
  }

  .devui-radio {
    line-height: 28px;

    &:not(:last-child) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}
