
.calendar-panel {
  padding: 5px;
  width: 300px;
  box-sizing: border-box;
}

.calendar-panel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
}

.calendar-panel-cell {
  width: 100%;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.calendar-panel-body .calendar-panel-cell:hover {
  background-color: #eeeeee;
  color: #000000;
}

.calendar-panel-cell.selected {
  background-color: #0066cc;
  color: #ffffff;
  border-radius: 6px;
}

.calendar-panel-cell.selected:hover {
  background-color: #0066cc;
  color: #ffffff;
}

.calendar-panel-cell.innerday {
  background-color: #f1f1f1;
}

.calendar-panel-cell.disabled {
  background-color: #ffffff;
  color: #bbbbbb;
}

.calendar-head-cell-text,
.calendar-panel-cell-text {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

.calendar-panel-header {
  height: 32px;
  cursor: default;
  padding: 0;
  margin: 0;
  list-style: none;
}

.calendar-panel-body {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0;
  margin: 0;
  list-style: none;
}
