@import "../../style/theme/color";

.d-skeleton {
  display: flex;
  justify-content: space-between;
  .d-skeleton__avatar {
    display: none;
    .avatar {
      width: 40px;
      height: 40px;
      background: #f2f2f2;
      border-radius: 50%;
    }
  }
  .is-shown{
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .d-skeleton__item__group {
    flex: 7;
    .d-skeleton__item {
      width: 100%;
      height: 16px;
      background: #f2f2f2;
      display: inline-block;
      border-radius: 4px;
    }
    .d-skeleton__item:first-child {
      width: 33%;
    }
    .d-skeleton__item:last-child {
      width: 61%;
    }
  }
}

.d-skeleton-animated > .d-skeleton__avatar,
.d-skeleton-animated > .d-skeleton__item__group {
  .is-animated {
    background-color: #ccc;
    background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 60%
      )
      #ccc;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 2s loading ease-in-out infinite;
  }
}
.d-skeleton-animated > .d-skeleton__avatar >.is-animated{
  animation-delay: .1s;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
