.devui-form-control {
  position: relative;

  .devui-star {
    color: red;
  }

  .devui-form-control-container {
    position: relative;

    .devui-feedback-status {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 1;
      width: 32px;
      height: 16px;
      margin-top: -7px;
      line-height: 16px;
      text-align: center;
      visibility: visible;
      pointer-events: none;
    }

    .devui-radio {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .devui-form-control-container-horizontal {
    display: flex;

    .devui-radio {
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }

    .devui-checkbox-group > div:first-child {
      display: flex;
      align-items: center;
    }

    .devui-checkbox-column-margin {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    input,
    .devui-tags-host {
      width: 200px;
    }

    .d-validate-tip {
      margin: 0 10px;
    }
  }


  .devui-control-content-wrapper {
    .devui-popover-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 9;
  
      & > div {
        width: inherit;
        height: 100%;
      }
    }
  }

  .with-popover {
    position: relative; 
    & > div {
      z-index: 10;
    }
  }



  .devui-has-feedback {
    display: flex;
    align-items: center;

    input {
      padding-right: 28px;
    }
  }

  .devui-feedback-error {
    border: 1px solid #f66f6a;
    border-radius: 2px;

    input {
      background-color: #ffeeed;
      border-color: transparent;

      &:hover {
        border-color: transparent !important;
      }

      &:focus {
        border-color: transparent !important;
      }
    }

    .devui-select-arrow {
      right: 24px !important;
    }
  }

  .devui-form-control-extra-info {
    font-size: 12px;
    color: #8a8e99;
    min-height: 20px;
    line-height: 1.5;
    text-align: justify;
  }
}
