
.devui-validate-rules-error-pristine {
  // background-color: #ffeeed;
  input {
    background-color: #ffeeed;
    border: 1px solid #f66f6a;

    &:focus {
      border: 1px solid #f66f6a !important;
    }

    &:hover {
      border: 1px solid #f66f6a !important;
    }
  }
}

.devui-validate-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #f66f6a;
}

.devui-error {
  input,
  .devui-tags {
    border-color: var(--devui-danger-line, #f66f6a) !important;
    background-color: var(--devui-danger-bg, #ffeeed) !important;
  }
}
