// @import '../../style/theme/color';
@import '../../style/theme/color';

$devui-transfer-border-color: #adb0b8;
$devui-transfer-border-radius: 2px;
$devui-transfer-header-height: 40px;
$devui-transfer-header-border-line-color:#dfe1e6;
$devui-transfer-body-search-height: 42px;
$devui-transfer-body-list-item-height: 36px;

.devui-transfer {
  display: flex;

  &-panel {
    width: 300px;
    border: 1px solid $devui-transfer-border-color;
    border-radius: $devui-transfer-border-radius;

    &-header {
      display: flex;
      justify-content: space-between;
      height: $devui-transfer-header-height;
      line-height: $devui-transfer-header-height;
      border-bottom: 1px solid$devui-transfer-header-border-line-color;

      &-allChecked {
        display: flex;
        margin-left: 20px;
      }

      &-num {
        margin-right: 12px;
      }
    }

    &-body {
      height: 100%;

      &-search {
        height: $devui-transfer-body-search-height;
        display: flex;
        justify-content: center;
        width: calc(100% - 40px);
        align-items: center;
        margin: 0 auto;

        .devui-search,
        .devui-input__wrap {
          width: 100%;
        }
      }

      &-list {
        overflow: auto;
        height: calc(100% - #{$devui-transfer-header-height} - #{$devui-transfer-body-search-height});
        width: 100%;

        &-item {
          margin: 0 20px;
          height: $devui-transfer-body-list-item-height;
          line-height: $devui-transfer-body-list-item-height;
        }

        &-empty {
          height: 100%;
          // width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $devui-disabled-text;
        }
      }
    }

    &-operation {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      &-group {
        width: 36px;

        &-left,
        &-right {
          width: 36px;
          height: 36px;
          color: $devui-light-text;
          background: $devui-primary;
          border-radius: 50%;
          border: none;
          cursor: pointer;
        }

        &-right {
          margin-top: 12px;
        }

        &-left:hover,
        &-left span:hover,
        &-right:hover,
        &-right span:hover {
          background: $devui-primary-hover;
        }

        &-left:active,
        &-left span:active,
        &-right:active,
        &-right span:active {
          background: $devui-primary-active;
        }

        &-left:disabled,
        &-left span:disabled,
        &-right:disabled,
        &-right span:disabled {
          color: $devui-disabled-text;
          background: $devui-disabled-bg;
          cursor: not-allowed;
        }
      }
    }
  }

  .custom {
    &-body {
      &-header,
      &-list {
        display: flex;
        justify-content: space-around;
        line-height: $devui-transfer-body-list-item-height;
        flex-wrap: wrap;
        margin: 0;
      }

      &-header {
        border-bottom: 1px solid $devui-transfer-border-color;
        width: 100%;
      }

      &-header > div,
      &-list > div {
        width: 25%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
