@import '../../style/theme/color';
@import '../../style//theme//corner';
@import '../../style//theme/font';

@mixin someDisplay {
  display: inline-flex;
}

$devui-popover-margin:-6px;
$devui-popover-left:-8px;
$devui-popover-top:-8px;

.devui-popover {
  position: relative;
  @include someDisplay;

  &::after {
    content: '';
    width: 12px;
    display: none;
    height: 12px;
    transform: rotate(45deg);
    position: absolute;
    background-color: $devui-feedback-overlay-bg;
  }

  &.devui-popover-isVisible {
    .devui-popover-content {
      @include someDisplay;
    }

    &::after {
      @include someDisplay;
    }
  }


  .devui-popover-content {
    position: absolute;
    display: none;
    padding: 5px 14px;
    align-items: center;
    white-space: nowrap;
    border-radius: $devui-border-radius-feedback;
    color: $devui-feedback-overlay-text;
    background-color: $devui-feedback-overlay-bg;
    font-size: $devui-font-size-sm;

    .devui-popover-icon {
      margin-right: 5px;
    }
  }
}

//left方向系列
.devui-popover {
  @mixin left-postion {
    &::after {
      left: $devui-popover-left;
      top: 50%;
      margin-top: $devui-popover-margin;
      margin-left: $devui-popover-margin;
    }
  }

  &.left {
    .devui-popover-content {
      left: $devui-popover-left;
      top: 50%;
      transform: translate(-100%, -50%);
    }
    @include left-postion;
  }

  &.left-top {
    .devui-popover-content {
      left: $devui-popover-left;
      top: 0;
      transform: translate(-100%, 0);
    }
    @include left-postion;
  }

  &.left-bottom {
    .devui-popover-content {
      left: $devui-popover-left;
      bottom: 0;
      transform: translate(-100%, 0);
    }
    @include left-postion;
  }
}

.devui-popover {
  &.top {
    .devui-popover-content {
      top: $devui-popover-top;
      left: 50%;
      transform: translate(-50%, -100%);
    }

    &::after {
      left: 50%;
      top: $devui-popover-top;
      margin-top: $devui-popover-margin;
      margin-left: $devui-popover-margin;
    }
  }

  &.top-left {
    .devui-popover-content {
      top: $devui-popover-top;
      left: 0;
      transform: translate(0, -100%);
    }

    &::after {
      left: 14px;
      top: $devui-popover-top;
      margin-top: $devui-popover-margin;
      margin-left: $devui-popover-margin;
    }
  }

  &.top-right {
    .devui-popover-content {
      top: $devui-popover-top;
      right: 0;
      transform: translate(0, -100%);
    }

    &::after {
      right: 14px;
      top: $devui-popover-top;
      margin-top: $devui-popover-margin;
      margin-right: $devui-popover-margin;
    }
  }
}
