.devui-datepicker-demo1 {
  line-height: 32px;
  font-size: 13px;
  user-select: none;

  label {
    margin-right: 5px;
    border: 1px solid #aaaaaa;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    input[type='checkbox'] {
      margin: 0;
      transform: translateX(3px) translateY(2px);
    }
  }
}
