@use 'sass:math';

@import '../../styles-var/devui-var';

.#{$devui-prefix}-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

@function percentage ($i, $sum: 24) {
  @return math.div($i, $sum) * 100%;
}

.#{$devui-prefix}-col-span-0 {
  display: none;
}

.#{$devui-prefix}-col-xs-span-0 {
  display: none;
}

@for $i from 1 through 24 {
  .#{$devui-prefix}-col-offset-#{$i} {
    margin-left: percentage($i);
  }
  .#{$devui-prefix}-col-pull-#{$i} {
    right: percentage($i);
  }
  .#{$devui-prefix}-col-push-#{$i} {
    left: percentage($i);
  }
  .#{$devui-prefix}-col-span-#{$i} {
    display: block;
    flex: 0 0 percentage($i);
    width: percentage($i);
  }
  .#{$devui-prefix}-col-xs-offset-#{$i} {
    margin-left: percentage($i);
  }
  .#{$devui-prefix}-col-xs-pull-#{$i} {
    right: percentage($i);
  }
  .#{$devui-prefix}-col-xs-push-#{$i} {
    left: percentage($i);
  }
  .#{$devui-prefix}-col-xs-span-#{$i} {
    display: block;
    flex: 0 0 percentage($i);
    width: percentage($i);
  }
}

@each $size, $value in (sm, 576), (md, 768), (lg, 992), (xl, 1200), (xxl, 1600) {
  @media screen and (min-width: #{$value}px) {
    .#{$devui-prefix}-col-#{$size}-span-0 {
      display: none;
    }
    @for $i from 1 through 24 {
      .#{$devui-prefix}-col-#{$size}-offset-#{$i} {
        margin-left: percentage($i);
      }
      .#{$devui-prefix}-col-#{$size}-pull-#{$i} {
        right: percentage($i);
      }
      .#{$devui-prefix}-col-#{$size}-push-#{$i} {
        left: percentage($i);
      }
      .#{$devui-prefix}-col-#{$size}-span-#{$i} {
        display: block;
        flex: 0 0 percentage($i);
        width: percentage($i);
      }
    }
  }
}
