.devui-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

@function percentage ($i, $sum: 24) {
  @return $i / $sum * 100%; }

.devui-col-span-0 {
  display: none;
}

@for $i from 1 to 24 {
  .devui-col-offset-#{$i} {
    margin-left: percentage($i);
  }
  .devui-col-pull-#{$i} {
    right: percentage($i);
  }
  .devui-col-push-#{$i} {
    left: percentage($i);
  }
  .devui-col-span-#{$i} {
    display: block;
    flex: 0 0 percentage($i);
    width: percentage($i);
  }
  .devui-col-xs-offset-#{$i} {
    margin-left: percentage($i);
  }
  .devui-col-xs-pull-#{$i} {
    right: percentage($i);
  }
  .devui-col-xs-push-#{$i} {
    left: percentage($i);
  }
  .devui-col-xs-span-#{$i} {
    display: block;
    flex: 0 0 percentage($i);
    width: percentage($i);
  }
}

@each $size, $value in (sm, 576), (md, 768), (lg, 992), (xl, 1200), (xxl, 1600) {
  @media screen and (min-width: #{$value}px) {
    @for $i from 1 to 24 {
      .devui-col-#{$size}-offset-#{$i} {
        margin-left: percentage($i);
      }
      .devui-col-#{$size}-pull-#{$i} {
        right: percentage($i);
      }
      .devui-col-#{$size}-push-#{$i} {
        left: percentage($i);
      }
      .devui-col-#{$size}-span-#{$i} {
        display: block;
        flex: 0 0 percentage($i);
        width: percentage($i);
      }
    }
  }
}
