@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-read-tip {
  position: relative;

  .title {
    font-size: 16px;
  }
}

.source {
  overflow: initial;
}

.read-tip-container {
  font-size: $devui-font-size;
  position: absolute;
  width: max-content;
  height: max-content;
  // top: 0;
  // left: 0;
  line-height: 1.5;
  border: none;
  border-radius: $devui-border-radius-feedback;
  // z-index: $devui-z-index-pop-up;
  background-color: $devui-feedback-overlay-bg;
  color: $devui-feedback-overlay-text;
  overflow-wrap: break-word;
  padding: 10px;
  z-index: 50;

  .after {
    content: '';
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    position: absolute;
    background-color: $devui-feedback-overlay-bg;
  }
  // 定位 top
  &.top {
    .after {
      bottom: -4px;
    }
  }

  // 定位 left
  &.left {
    .after {
      right: -4px;
    }
  }

  // 定位 right
  &.right {
    .after {
      left: -4px;
    }
  }

  // 定位 bottom
  &.bottom {
    .after {
      top: -4px;
    }
  }
}
