@import '@devui/styles-var/devui-var.scss';

.theme .page > .container:first-child {
  padding: 0 15rem 4rem 3rem !important;
}

.demo-block {
  border: solid 1px $devui-dividing-line !important;

  &.hover {
    box-shadow: $devui-shadow-length-base $devui-shadow !important;
  }
}

.demo-block-control {
  background-color: $devui-base-bg !important;
  border-top: solid 1px $devui-dividing-line !important;

  &:hover {
    color: $devui-brand !important;
  }

  .control-button {
    color: $devui-brand !important;
  }
}

.meta {
  border-top: solid 1px $devui-dividing-line !important;
  background-color: $devui-area !important;
}

.description {
  border: solid 1px $devui-dividing-line !important;
  color: $devui-text !important;
  background-color: $devui-base-bg !important;
}
