@import '@devui/styles-var/devui-var.scss';

.demo-block {
  border: solid 1px $devui-dividing-line !important;

  &.hover {
    box-shadow: none !important;
  }
}

.demo-block-control {
  background-color: $devui-base-bg !important;
  border-top: solid 1px $devui-dividing-line !important;
  clear: both;
  &:hover {
    color: $devui-brand !important;
  }

  .control-button {
    color: $devui-brand !important;
  }
}

.meta {
  border-top: solid 1px $devui-dividing-line !important;
  background-color: $devui-area !important;
}

.description {
  border: solid 1px $devui-dividing-line !important;
  color: $devui-text !important;
  background-color: $devui-base-bg !important;
}
