@import 'highlight.js/styles/github.css';
@import 'diff2html/bundles/css/diff2html.min.css';
@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-code-review {
  box-sizing: border-box;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
  border-radius: $devui-border-radius-card;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    padding-right: 20px;
    border-bottom: 1px solid $devui-dividing-line;
    border-radius: $devui-border-radius-card;
    background-color: $devui-global-bg-normal;
    cursor: pointer;

    &--unfold {
      border-radius: $devui-border-radius-card $devui-border-radius-card 0 0;
      border-bottom: 1px solid #d8d8d8;
      box-shadow: inset 0 -1px 0 0 $devui-brand-foil;
    }

    .file-info {
      display: flex;
      align-items: center;
      padding-left: 18px;

      & > span {
        display: inline-block;
        height: 20px;
        line-height: 20px;
      }

      .invert {
        transform: scale(-1);
      }

      .file-name {
        max-width: 100%;
        font-size: $devui-font-size-sm;
        color: $devui-text;
        font-weight: bold;
        padding-left: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .diff-lines {
        font-size: $devui-font-size-sm;
        font-weight: bold;

        &.add-lines {
          padding-left: 8px;
          color: $devui-success;
        }

        &.delete-lines {
          padding-left: 4px;
          color: $devui-danger;
          margin-right: 8px;
        }
      }
    }
  }

  &__content {
    line-height: 20px;

    table {
      margin: 0;
    }

    tr {
      border: none;

      &:hover {
        .d2h-info {
          background-color: #bfcbf3;
        }
      }
    }

    th,
    td {
      border: none;
      padding: 0;
    }

    td {
      &:first-child {
        position: static;
        display: table-cell;
      }

      &.expand-icon-wrapper {
        text-align: center;
      }

      &.comment-icon-hover {
        background-color: #bfcbf3 !important;
      }

      .expand-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 24px;
        cursor: pointer;

        &:hover {
          background-color: $devui-primary;

          svg g g g g {
            fill: $devui-light-text;
          }

          svg g g polygon,
          svg g g path {
            fill: $devui-light-text;
          }
        }
      }
    }

    .expand-line {
      height: 24px;
      line-height: 24px;
    }

    .d2h-file-wrapper {
      border: none;
    }

    .d2h-code-linenumber::after,
    .d2h-code-side-linenumber::after {
      content: '';
    }

    .d2h-code-line-ctn {
      word-break: break-all;
      word-wrap: break-word !important;
      white-space: break-spaces !important;
      display: inline-block !important;
      line-break: anywhere;
    }

    .d2h-code-line,
    .d2h-code-side-line {
      width: 100%;
      padding-left: 0;
      padding-right: 16px;
    }

    &.side-by-side {
      tr td:nth-of-type(3) {
        border-left: 1px solid #eeeeee;
      }

      tr.comment-block {
        td:last-child {
          border-left: 1px solid #eeeeee;
        }

        .comment-cell {
          vertical-align: top;
        }
      }

      .d2h-file-side-diff {
        width: 100%;
      }

      .d2h-code-side-linenumber {
        position: static;
        display: table-cell;
      }
    }
  }

  .comment-icon {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $devui-base-bg;
    transform: translateX(-50%);
    box-shadow: 0 0 1px 1px rgba(37, 43, 58, 0.16);
    cursor: pointer;
  }
}
