@import 'highlight.js/styles/github.css';
@import 'diff2html/bundles/css/diff2html.min.css';
@import '@devui/theme/styles-var/devui-var.scss';

.#{$devui-prefix}-code-review {
  box-sizing: border-box;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
  border-radius: $devui-border-radius-card;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    padding-right: 20px;
    border-bottom: 1px solid $devui-dividing-line;
    border-radius: $devui-border-radius-card;
    background-color: $devui-base-bg;
    cursor: pointer;

    &--unfold {
      border-radius: $devui-border-radius-card $devui-border-radius-card 0 0;
      border-bottom: 1px solid $devui-dividing-line;
      box-shadow: inset 0 -1px 0 0 $devui-shadow;
    }

    .d2h-files-diff {
      background-color: #f8fafd;
    }

    .file-info {
      display: flex;
      align-items: center;
      padding-left: 18px;

      & > span {
        display: inline-block;
        height: 20px;
        line-height: 20px;
      }

      .invert {
        transform: scale(-1);
      }

      .file-name {
        max-width: 100%;
        font-size: $devui-font-size-sm;
        color: $devui-text;
        font-weight: bold;
        padding-left: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .diff-lines {
        font-size: $devui-font-size-sm;
        font-weight: bold;

        &.add-lines {
          padding-left: 8px;
          color: $devui-success;
        }

        &.delete-lines {
          padding-left: 4px;
          color: $devui-danger;
          margin-right: 8px;
        }
      }
    }
  }

  &__content {
    line-height: 20px;

    table {
      margin: 0;
    }

    tr {
      border: none;

      &:hover {
        .d2h-info {
          background-color: #bfcbf3;
        }
      }
    }

    th,
    td {
      border: none;
      padding: 0;
    }

    td {
      &:first-child {
        position: static;
        display: table-cell;
      }

      &.expand-icon-wrapper {
        text-align: center;
      }

      &.comment-icon-hover {
        background-color: #bfcbf3 !important;
      }

      .expand-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 24px;
        cursor: pointer;

        &:hover {
          background-color: $devui-primary;

          svg g g g g {
            fill: $devui-light-text;
          }

          svg g g polygon,
          svg g g path {
            fill: $devui-light-text;
          }
        }
      }
    }

    .expand-line {
      height: 24px;
      line-height: 24px;
    }

    .d2h-file-wrapper {
      border: none;
    }

    .d2h-emptyplaceholder.d2h-cntx.d2h-code-side-linenumber,
    .d2h-emptyplaceholder.d2h-cntx {
      background-color: #fafafa;
    }

    .d2h-code-side-linenumber,
    .d2h-code-linenumber,
    .d2h-emptyplaceholder {
      border-left: 1px solid;
      border-right: 1px solid;
      padding: 0;
    }

    .d2h-info.d2h-code-side-linenumber {
      background-color: #f8fafd;
    }

    .d2h-code-side-line,
    .d2h-code-side-linenumber,
    .d2h-code-linenumber {
      background-color: transparent;
    }

    .d2h-code-side-linenumber,
    .d2h-code-linenumber {
      border-color: #eee;
      color: rgba(0, 0, 0, 0.3);
      height: 100%;

      &.d2h-cntx {
        background-color: #fff;
      }
    }

    .d2h-code-side-linenumber.d2h-ins {
      background-color: #dfd;
    }

    .d2h-code-linenumber::after,
    .d2h-code-side-linenumber::after {
      content: '';
    }

    .d2h-code-line-ctn {
      word-break: break-all;
      word-wrap: break-word !important;
      white-space: break-spaces !important;
      display: inline-block !important;
      line-break: anywhere;
    }

    .d2h-code-line,
    .d2h-code-side-line {
      width: 100%;
      padding-left: 0;
      padding-right: 16px;
    }

    &.side-by-side {
      tr td:nth-of-type(3) {
        border-left: 1px solid #eeeeee;
      }

      tr.comment-block {
        td:last-child {
          border-left: 1px solid #eeeeee;
        }

        .comment-cell {
          vertical-align: top;
        }
      }

      .d2h-file-side-diff {
        width: 100%;
      }

      .d2h-code-side-linenumber,
      .d2h-code-linenumber {
        position: static;
        display: table-cell;
      }
    }
  }

  .comment-icon {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $devui-brand-foil;
    transform: translateX(-50%);
    box-shadow: 0 0 1px 1px rgba(37, 43, 58, 0.16);
    cursor: pointer;
  }

  &.dp-md-dark {
    color: #e8e8e8;
    background-color: #2e303c;

    .d2h-files-diff {
      background-color: #262831;
    }

    .file-info .invert {
      fill: #e8e8e8;
    }

    &__content {
      background-color: #2e303c;
    }

    tr {
      td.comment-icon-hover {
        background-color: rgba(94, 124, 224, 0.2) !important;
      }

      &:hover .d2h-info {
        background-color: rgba(94, 124, 224, 0.2);
      }
    }

    .d2h-info {
      background-color: #262831;
      color: #909090;

      .d2h-code-line-prefix {
        color: #e8e8e8;
      }
    }

    .d2h-code-side-linenumber,
    .d2h-code-linenumber,
    .devui-code-review__content.side-by-side tr.comment-block td:last-child,
    .devui-code-review__content.side-by-side tr td:nth-of-type(3) {
      border-color: #262933;
      color: #646464;

      &.d2h-cntx {
        background-color: #262933;
      }
    }

    .d2h-cntx {
      background-color: #2e303c;
    }

    .d2h-del {
      background-color: #4b3a39;
      border-color: #985c5a;
    }

    .d2h-ins {
      background-color: #1f5231;
    }

    .d2h-ins.d2h-code-side-linenumber,
    .devui-code-review__content.side-by-side tr td:nth-of-type(3).d2h-ins.d2h-code-side-linenumber {
      border-color: #29a17c;
    }

    .d2h-emptyplaceholder {
      border-color: #262933;
    }

    .d2h-code-side-linenumber.d2h-emptyplaceholder.d2h-cntx.d2h-emptyplaceholder {
      background-color: #363946;
    }

    .d2h-emptyplaceholder.d2h-cntx {
      background-color: #363946;
    }

    .d2h-code-line-prefix {
      color: #e8e8e8;
    }

    .hljs {
      color: #abb2bf;
    }

    .hljs-keyword {
      color: #c678dd;
    }

    .hljs-title.class_ {
      color: #e6c07b;
    }

    .hljs-built_in {
      color: #e6c07b;
    }

    .hljs-string {
      color: #98c379;
    }
  }
}
