.devui-form__label {
  align-self: flex-start;

  .devui-form__label--required {
    display: inline-flex;
    align-items: center;

    &::before {
      content: '*';
      color: red;
      display: inline-block;
      margin-right: 8px;
      margin-left: -12px;
    }
  }
}

.devui-form__label--sm {
  flex: 0 0 80px;
}

.devui-form__label--md {
  flex: 0 0 100px;
}

.devui-form__label--lg {
  flex: 0 0 150px;
}

.devui-form__label--start {
  text-align: left;
}

.devui-form__label--center {
  text-align: center;
}

.devui-form__label--end {
  text-align: end;
}

.devui-form__label-help {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 10px;
}
