@import '../../../../styles-var/devui-var';

.#{$devui-prefix}-form__label {
  align-self: flex-start;

  &--vertical {
    padding-bottom: 8px;
  }

  &--sm {
    flex: 0 0 80px;
  }

  &--md {
    flex: 0 0 100px;
  }

  &--lg {
    flex: 0 0 150px;
  }

  &--start {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--end {
    text-align: end;
  }
}

.#{$devui-prefix}-form__label-span {
  display: inline-block;
  vertical-align: middle;
  color: $devui-text;
}

.#{$devui-prefix}-form__label--required {
  &::before {
    content: '*';
    color: red;
    display: inline-block;
    margin-right: 8px;
    margin-left: -12px;
  }
}

.#{$devui-prefix}-form__label-help {
  position: relative;
  top: -0.1em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  cursor: pointer;
}
