@import '../../style/theme/color';

$devui-transfer-border-color: #adb0b8;
$devui-transfer-border-radius: 2px;
$devui-transfer-header-height: 40px;
$devui-transfer-header-border-line-color:#dfe1e6;
$devui-transfer-body-list-item-height: 36px;

.devui-transfer {
  display: flex;

  &-panel {
    width: 300px;
    border: 1px solid $devui-transfer-border-color;
    border-radius: $devui-transfer-border-radius;

    &-header {
      display: flex;
      justify-content: space-between;
      height: $devui-transfer-header-height;
      line-height: $devui-transfer-header-height;
      border-bottom: 1px solid$devui-transfer-header-border-line-color;

      &-allChecked {
        display: flex;
        margin-left: 20px;
      }

      &-num {
        margin-right: 12px;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      height: 100%;

      &-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 7px 20px;

        .devui-search,
        .devui-input__wrap {
          width: 100%;
        }
      }

      &-list {
        overflow: auto;
        width: 100%;
        padding: 0 20px;

        &-item {
          height: $devui-transfer-body-list-item-height;
          line-height: $devui-transfer-body-list-item-height;
          width: min-content;
          max-width: 100%;

          label {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            height: auto;
          }
        }

        &-tooltip {
          // display: flex;
          // max-width: calc(100% - 20px);
          // overflow: hidden;
          // text-overflow: ellipsis;
          // white-space: nowrap;
          .slotElement {
            max-width: 100%;
          }
        }

        &-empty {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $devui-disabled-text;
        }
      }
    }

    &-operation {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      &-group {
        width: 36px;

        &-left .devui-btn,
        &-right .devui-btn {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          padding: 0;
          min-width: 36px !important;
        }

        &-right {
          margin-top: 12px;
        }
      }
    }
  }
}
