@import '../../styles-var/devui-var.scss';

$devui-transfer-border-color: #adb0b8;
$devui-transfer-border-radius: 2px;
$devui-transfer-header-height: 40px;
$devui-transfer-header-border-line-color:#dfe1e6;
$devui-transfer-body-list-item-height: 32px;

.#{$devui-prefix}-transfer {
  display: flex;

  &-panel {
    width: 300px;
    border: 1px solid $devui-transfer-border-color;
    border-radius: $devui-transfer-border-radius;

    &-header {
      display: flex;
      justify-content: space-between;
      height: $devui-transfer-header-height;
      line-height: $devui-transfer-header-height;
      border-bottom: 1px solid$devui-transfer-header-border-line-color;
      padding: 0 16px;

      &-allChecked {
        display: flex;
      }

      &-num {
        &-unit {
          margin-left: 4px;
        }
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      height: 100%;

      &-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 7px 16px;

        .#{$devui-prefix}-search {
          width: 100%;
        }

        .#{$devui-prefix}-input__inner {
          padding: 5px 0;
        }
      }

      &-list {
        overflow: auto;
        width: 100%;

        &-group > div > div {
          padding: 0 16px;
          cursor: pointer;
        }

        &-group > div > div:hover,
        &-item:hover {
          background-color: $devui-transfer-header-border-line-color;
        }

        &-item {
          display: flex;
          align-items: center;
          border-top: 2px solid transparent;
          border-bottom: 2px solid transparent;
          padding: 4px 0;
          cursor: pointer;

          .icon-drag-small {
            cursor: move;
            padding: 0 1px;
            visibility: hidden;
          }

          &:hover .icon-drag-small {
            visibility: visible;
          }
        }

        &-drag {
          &-dragging {
            background-color: $devui-brand-foil !important;
          }

          &-over {
            background-color: $devui-brand-hover;
          }

          &-over-top {
            border-top-color: $devui-brand-active;
          }

          &-over-bottom {
            border-bottom-color: $devui-brand-active;
          }
        }

        &-drag:hover .#{$devui-prefix}-transfer-panel-body-list-drag__icon {
          visibility: visible;
        }

        &-tooltip {
          .slotElement {
            display: flex;
          }
        }

        &-empty {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $devui-disabled-text;
        }
      }

      &-nodrag {
        padding: 0 20px;
      }
    }
  }

  &-operate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;

    &-group {
      display: flex;
      flex-direction: column;

      &-left .#{$devui-prefix}-btn,
      &-right .#{$devui-prefix}-btn {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        padding: 0;
        min-width: 36px !important;
      }

      &-right {
        margin-top: 12px;
      }
    }
  }

  &-drag-dragging {
    background-color: $devui-brand-foil;
  }

  &-drag-over {
    background-color: $devui-brand-hover;
  }
}
.#{$devui-prefix}-transfer–drag-over-top {
  border-top-color: $devui-brand-active;
}

.#{$devui-prefix}-transfer–drag-over-bottom {
  border-bottom-color: $devui-brand-active;
}
