@import '../../style/theme/color';

$devui-transfer-border-color: #adb0b8;
$devui-transfer-border-radius: 2px;
$devui-transfer-header-height: 40px;
$devui-transfer-header-border-line-color:#dfe1e6;
$devui-transfer-body-list-item-height: 32px;

.devui-transfer {
  display: flex;

  &-panel {
    width: 300px;
    border: 1px solid $devui-transfer-border-color;
    border-radius: $devui-transfer-border-radius;

    &-header {
      display: flex;
      justify-content: space-between;
      height: $devui-transfer-header-height;
      line-height: $devui-transfer-header-height;
      border-bottom: 1px solid$devui-transfer-header-border-line-color;

      &-allChecked {
        display: flex;
        margin-left: 20px;
      }

      &-num {
        margin-right: 12px;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      height: 100%;

      &-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 7px 20px;

        .devui-search,
        .devui-input__wrap {
          width: 100%;
        }
      }

      &-list {
        overflow: auto;
        width: 100%;

        &-item {
          height: $devui-transfer-body-list-item-height;
          line-height: $devui-transfer-body-list-item-height;
          display: flex;
          align-items: center;
          border-top: 2px solid transparent;
          border-bottom: 2px solid transparent;

          label {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            height: auto;
          }
        }

        &-drag{
          width: 100%;
          display: flex;
          align-items: center;
          &__icon {
            padding: 0 4px;
            visibility: hidden;
            height: 28px;
            display: flex;
            align-items: center;
          }
        }
        &-drag:hover .devui-transfer-panel-body-list-drag__icon{
          visibility: visible;
        }

        &-tooltip {
          .slotElement {
            display: flex;
          }
        }

        &-empty {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $devui-disabled-text;
        }
      }
      &-nodrag{
        padding: 0 20px;
      }
    }

    &-operation {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      &-group {
        width: 36px;
        &-left .devui-btn,
        &-right .devui-btn {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          padding: 0;
          min-width: 36px !important;
        }

        &-right {
          margin-top: 12px;
        }
      }
    }
  }
  &-drag-dragging{
    background-color: $devui-brand-foil;
  }
  &-drag-over{
    background-color: $devui-brand-hover;
  }
}
.devui-transfer–drag-over-top{
  border-top-color: $devui-brand-active;  
}
.devui-transfer–drag-over-bottom {
  border-bottom-color: $devui-brand-active;
}
