@import '../../styles-var/devui-var.scss';

.devui-notification {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 20em;
  word-break: normal;
  word-wrap: break-word;
  z-index: 1060;

  a {
    &:link,
    &:visited {
      color: $devui-link-light;
    }

    &:hover,
    &:active {
      color: $devui-link-light-active;
    }
  }
}

.devui-notification-item-container {
  position: relative;
  margin: 0 0 8px 0;
  opacity: 0.95;
  filter: alpha(opacity=95);
  box-shadow: $devui-shadow-length-feedback-overlay $devui-shadow;
  border-radius: $devui-border-radius-feedback;
  color: $devui-feedback-overlay-text;
  background-color: $devui-feedback-overlay-bg;
}

.devui-notification-item {
  position: relative;
  display: block;
  padding: 12px 16px;
}

.devui-notification-icon-close {
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;

  & i.icon {
    color: $devui-light-text !important;
  }
}

.devui-notification-title {
  font-size: $devui-font-size-card-title;
  padding: 0 0 calc(0.5em - 2px) 0;
  display: block;
  font-weight: 700;
}

.devui-notification-image {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 16px;
  top: 14px;
  padding: 0;
  line-height: 1;

  &.devui-notification-image-warn i.icon {
    color: $devui-warning !important;
  }

  &.devui-notification-image-info i.icon {
    color: $devui-info !important;
  }

  &.devui-notification-image-error i.icon {
    color: $devui-danger !important;
  }

  &.devui-notification-image-success i.icon {
    color: $devui-success !important;
  }

  .devui-notification-image-info-path,
  .devui-notification-image-error-path,
  .devui-notification-image-success-path {
    fill: $devui-light-text;
  }
}

.devui-notification-message {
  margin-left: 20px;

  .devui-notification-content {
    font-size: $devui-font-size;
    margin-top: 4px;
  }
}

.devui-notification-message-common .devui-notification-message {
  margin-left: 0;
}

.devui-notification-message p {
  font-size: $devui-font-size;
  margin-top: 4px;
}

.notification-fade {
  &-enter-active,
  &-leave-active {
    transition: transform $devui-animation-duration-slow $devui-animation-ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    transform: translateX(100%);
  }
}
