@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-list-item {
  color: #000000d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &--split {
    border-bottom: 1px solid #f0f0f0;

    &:last-child {
      border-bottom: none;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__action {
    display: flex;
    align-items: center;

    &-item {
      position: relative;
      display: inline-block;
      padding: 0 8px;
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      line-height: 1.5715;
      text-align: center;

      &:first-child {
        padding-left: 0;
      }
    }

    &-split {
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 14px;
      margin-top: -7px;
      background-color: #f0f0f0;
    }
  }
}
