@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-list {
  &--bordered {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }

  &__header {
    border-bottom: 1px solid #f0f0f0;
  }

  &__footer {
    border-top: 1px solid #f0f0f0;
  }

  &__load {
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
