@import '../../styles-var/devui-var.scss';

$border-change-time: 300ms;
$border-change-function: cubic-bezier(0.645, 0.045, 0.355, 1);
$select-input-height-sm: 24px;
$select-input-height-md: 28px;
$select-input-height-lg: 44px;
$select-arrow-width: 28px;
$transition-base-time: 0.25s;
$select-dropdown-max-height: 300px;
$select-item-font-size: var(--devui-font-size, 12px);
$select-item-min-height: 36px;

@mixin border-transition {
  transition: border-color $border-change-time $border-change-function;
}

.#{$devui-prefix}-select {
  position: relative;
  width: 100%;

  &__selection {
    &:hover {
      border-color: $devui-form-control-line-hover;
    }
  }

  &--open,
  &--focus {
    .#{$devui-prefix}-select__selection {
      border-color: $devui-form-control-line-active;

      &:hover {
        border-color: $devui-form-control-line-active;
      }
    }
  }
}

.#{$devui-prefix}-select--underlined {
  border-bottom: 1px solid $devui-form-control-line;
  @include border-transition();

  &:not([disabled]):not(.disabled) {
    &:hover {
      border-color: $devui-form-control-line-hover;
    }

    &.#{$devui-prefix}-select--open {
      border-color: $devui-form-control-line-active;
    }
  }

  .#{$devui-prefix}-select__input,
  .#{$devui-prefix}-select__selection {
    border: none;
  }
}

.#{$devui-prefix}-select--disabled {
  cursor: not-allowed;
  background-color: $devui-disabled-bg;
  border-color: $devui-disabled-line;
  color: $devui-disabled-text;

  .#{$devui-prefix}-select__input,
  .#{$devui-prefix}-select__selection {
    cursor: not-allowed;
    background-color: $devui-disabled-bg;
    border-color: $devui-disabled-line;
    color: $devui-disabled-text;
  }

  .#{$devui-prefix}-select__arrow {
    cursor: not-allowed;
    color: $devui-disabled-text;
  }
}

.#{$devui-prefix}-select--open {
  .#{$devui-prefix}-select__arrow {
    transform: rotate3d(0, 0, 1, 180deg);
  }
}

.#{$devui-prefix}-dropdown-menu-multiple {
  .#{$devui-prefix}-select__item {
    &.active {
      color: $devui-list-item-active-text;
      background-color: transparent;
    }
  }
}

.#{$devui-prefix}-select__selection {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: 1px solid $devui-form-control-line;
  border-radius: $devui-border-radius;
  background-color: $devui-form-control-bg;
  color: $devui-text;
}

.#{$devui-prefix}-select__multiple {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  .#{$devui-prefix}-select__multiple--input {
    display: flex;
    max-width: 100%;
    min-width: 15px;
  }
}

.#{$devui-prefix}-select__input {
  cursor: pointer;
  width: 100%;
  height: calc($select-input-height-md - 2px);
  padding: 4px $select-arrow-width 4px 10px;
  color: $devui-text;
  vertical-align: middle;
  outline: none;
  background-color: $devui-form-control-bg;
  box-sizing: border-box;
  border: none;
  @include border-transition();

  &:not([disabled]):not(.disabled) {
    &:hover {
      border-color: $devui-form-control-line-hover;
    }

    &:focus {
      border-color: $devui-form-control-line-active;
    }
  }

  &[disabled],
  &.disabled {
    &:hover {
      cursor: not-allowed;
      background-color: $devui-disabled-bg;
      border-color: $devui-disabled-line;
      color: $devui-disabled-text;
    }
  }

  &.#{$devui-prefix}-select__input--lg {
    height: calc($select-input-height-lg - 2px);
  }

  &.#{$devui-prefix}-select__input--sm {
    height: calc($select-input-height-sm - 2px);
  }
}

.#{$devui-prefix}-select__clearable:hover {
  .#{$devui-prefix}-select__clear {
    display: inline-flex;
  }

  .#{$devui-prefix}-select__arrow {
    display: none;
  }
}

.#{$devui-prefix}-select__clear,
.#{$devui-prefix}-select__arrow {
  position: absolute;
  right: 0;
  height: 100%;
  width: $select-arrow-width;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.#{$devui-prefix}-select__clear {
  display: none;

  &:hover {
    color: $devui-icon-fill-active;
  }
}

.#{$devui-prefix}-select__arrow {
  transform: rotate3d(0, 0, 1, 0deg);
  transition: transform $transition-base-time ease-out;
}

.#{$devui-prefix}-select__dropdown {
  position: absolute;
  width: calc(100% - 2px);
  overflow: auto;
  top: 100%;
  left: 0;
  margin: 5px 0;
  border-radius: $devui-border-radius;
  background: $devui-base-bg;
  box-shadow: 0 2px 5px 0 $devui-shadow;
  z-index: 999;
}

.#{$devui-prefix}-select__dropdown-list {
  max-height: $select-dropdown-max-height;
  width: 100%;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.#{$devui-prefix}-select__item {
  font-size: $select-item-font-size;
  display: block;
  min-height: $select-item-min-height;
  line-height: 1.5;
  width: 100%;
  padding: 10px;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  color: $devui-text;
  box-sizing: border-box;
  cursor: pointer;

  &:hover:not(.active):not(.disabled) {
    color: $devui-list-item-hover-text;
    background-color: $devui-list-item-hover-bg;
  }

  &.active {
    color: $devui-list-item-active-text;
    background-color: $devui-list-item-active-bg;
  }

  &.disabled {
    cursor: not-allowed;
    background-color: $devui-disabled-bg;
    color: $devui-disabled-text;
  }
}

.#{$devui-prefix}-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--devui-line, #adb0b8);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.fade-enter-active,
.fade-leave-active {
  transform: scale3d(0, 1, 0, 0.9999) translate3d(0, 1, 0, 0);
  transform-origin: 0 0%;
  opacity: 1;
  transition: transform, opacity $transition-base-time ease-out;
}

.fade-enter-from,
.fade-leave-to {
  transform: scale3d(0, 1, 0, 0) translate3d(0, 1, 0, -4px);
  opacity: 0;
  transition: transform, opacity $transition-base-time ease-in;
}
.#{$devui-prefix}-select__dropdown--empty {
  text-align: center;
  font-size: $select-item-font-size;
  color: $devui-disabled-text;
}
