@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-skeleton {
  display: flex;
  justify-content: space-between;

  &__avatar {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-right: 16px;

    .avatar {
      width: 40px;
      height: 40px;
      background-color: #f2f2f2;
    }
  }

  &__group {
    flex: 11;
  }

  &__item,
  &__title {
    width: 100%;
    height: 16px;
    background-color: #f2f2f2;
  }

  &__title {
    margin-top: 24px;
  }

  &__paragraph {
    margin-top: 12px;
  }

  &__item:last-child {
    width: 60%;
  }

  &__avatar > .avatar,
  &__group > div > &__item {
    margin-top: 12px;
  }
}

@keyframes skeletonLoading {
  to {
    background-position-x: -20%;
  }
}

.#{$devui-prefix}-skeleton__animated > .#{$devui-prefix}-skeleton__group > .#{$devui-prefix}-skeleton__title,
.#{$devui-prefix}-skeleton__animated > .#{$devui-prefix}-skeleton__group > div > .#{$devui-prefix}-skeleton__item,
.#{$devui-prefix}-skeleton__animated > .#{$devui-prefix}-skeleton__avatar > .avatar {
  background:
    linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    #f2f2f2;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 2s skeletonLoading ease-in-out infinite;
}
