@import '../../style/mixins/index';
@import '../../style/theme/color';
@import '../../style/theme/font';
@import '../../style/theme/shadow';
@import '../../style/theme/corner';

.d-input-number {
}
.dInputNumber{
  position: relative;
  display: inline-block;
  width: 180px;
  line-height: 38px;
}

.dInputStyle{
  outline: none;
  background-color: #fff;
  background-color: var(--devui-base-bg,#fff);
  border: 1px solid #adb0b8;
  border: 1px solid var(--devui-form-control-line,#adb0b8);
  border-radius: 2px;
  border-radius: var(--devui-border-radius,2px);
  padding: 5px 10px;
  line-height: 16px;
  font-size: 12px;
  font-size: var(--devui-font-size,12px);
  color: #252b3a;
  color: var(--devui-text,#252b3a);
  width: 100%;
  display: block;
  cursor: text;
  height: 28px;
  transition: border-color .3s cubic-bezier(.645,.045,.355,1);
  transition: border-color .3s var(--devui-animation-ease-in-out-smooth,cubic-bezier(.645,.045,.355,1));

}
.disabled{
  cursor: not-allowed;
}