@import '../../../styles-var/devui-var';

.#{$devui-prefix}-flexible-overlay {
  position: fixed;
  border-radius: $devui-border-radius;
  background-color: $devui-connected-overlay-bg;
  box-shadow: $devui-shadow-length-connected-overlay $devui-shadow;
  z-index: 1000;

  &__arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: inherit;
  }
}
