@import '../../../styles-var/devui-var.scss';

.devui-thead {
  tr {
    font-size: $devui-font-size-card-title;
    color: $devui-text;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid $devui-line;
    background-color: $devui-global-bg-normal;

    th {
      text-align: left;
      padding: 0;
      border: none;
    }
  }

  .header-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 2px;
    padding-right: 8px;

    .title {
      display: inline-block;
      line-height: 36px;
      vertical-align: middle;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: default;
    }
  }
}

.header-bg {
  thead.devui-thead {
    tr {
      background: var(--devui-list-item-hover-bg, #f2f5fc);
    }
  }
}
