@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  border: 1px solid $devui-form-control-line;
  border-radius: $devui-border-radius;
  background-color: $devui-form-control-bg;
  transition: border-color 0.3s $devui-animation-ease-in-out-smooth;

  &:not(.#{$devui-prefix}-input--error):hover {
    border-color: $devui-form-control-line-hover;
  }

  &--focus:not(.#{$devui-prefix}-input--error) {
    border-color: $devui-form-control-line-active;

    &:hover {
      border-color: $devui-form-control-line-active;
    }
  }

  &--disabled {
    border-color: $devui-disabled-line;
    background-color: $devui-disabled-bg;
    cursor: not-allowed;

    &:hover {
      border-color: $devui-disabled-line;
    }

    .#{$devui-prefix}-input__inner {
      color: $devui-disabled-text;
      cursor: not-allowed;
    }
  }

  &--error {
    border-color: $devui-danger-line;
    background-color: $devui-danger-bg;
  }

  &--sm {
    height: 26px;
    font-size: $devui-font-size-sm;
  }

  &--md {
    height: 28px;
    font-size: $devui-font-size;
  }

  &--lg {
    height: 46px;
    font-size: $devui-font-size-lg;
  }

  &--feedback {
    padding-right: 28px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    color: $devui-text;
    font-size: inherit;
    padding: 4px 0;
    border: none;
    background: none;
    outline: none;
  }
}
