@import '../../style/mixins/size';
@import '../../style/mixins/flex';

.d-search {
  position: relative;
  @include flex;

  input {
    padding-right: 30px;
  }

  &__icon {
    pointer-events: all;
    cursor: pointer;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    @include size(36px, 28px);
    @include flex;
  }

  &__sm {
    .d-search__icon {
      @include size(34px, 26px);
    }
  }

  &__lg {
    .d-search__icon {
      @include size(46px, 46px);
    }

    input {
      padding-right: 36px;
    }
  }
}
