@import '../../style/mixins/size';
@import '../../style/mixins/flex';
@import '../../style/theme/color';

.d-search {
  position: relative;
  @include flex;

  svg.svg-icon-clear path,
  svg.svg-icon-search path {
    fill: $devui-icon-text;
  }

  input {
    padding: 5px 30px 5px 10px;
    padding-right: 60px;
  }

  &__clear {
    position: absolute;
    right: 36px;
    cursor: pointer;
    height: 100%;
    @include size(30px, 100%);
    @include flex;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 46%;
      border-left: 1px solid $devui-dividing-line;
    }
  }

  &__icon {
    pointer-events: all;
    cursor: pointer;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    @include size(36px, 28px);
    @include flex;
  }

  &__sm {
    .d-search__icon {
      @include size(34px, 26px);
    }

    .d-search__clear {
      @include size(26px, 100%);

      right: 34px;
    }

    input {
      &.devui-textinput-sm {
        padding-right: 56px;
      }
    }
  }

  &__lg {
    .d-search__icon {
      @include size(46px, 46px);
    }

    .d-search__clear {
      @include size(30px, 100%);

      right: 46px;
    }

    input {
      padding: 5px 36px 5px 10px;

      &.devui-textinput-lg {
        padding-right: 71px;
      }
    }
  }

  &__disbaled {
    .d-search__icon {
      cursor: not-allowed;
    }

    svg.svg-icon-search path {
      fill: $devui-disabled-text;
    }
  }

  &__left {
    input {
      padding: 5px 26px 5px 30px;

      &.devui-textinput-lg {
        padding-right: 30px;
        padding-left: 46px;
      }

      &.devui-textinput-sm {
        padding-right: 26px;
      }
    }

    .d-search__clear {
      right: 0;

      &::after {
        display: none;
      }
    }

    .d-search__icon {
      left: 0;
    }
  }

  &__no-border {
    input {
      border: none;
    }
  }
}
