@import '../../../styles-var/devui-var.scss';

.tools-container {
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 10;

  .#{$devui-prefix}-dropdown-origin {
    border: 0;

    &:hover {
      color: $devui-link !important;
    }
  }

  .#{$devui-prefix}-btn {
    height: 32px !important;
    color: $devui-text !important;
    padding: 0 8px !important;
    min-width: 50px;

    &:hover {
      color: $devui-link !important;
    }
  }

  .tool {
    &.minus,
    &.add {
      .#{$devui-prefix}-btn {
        min-width: 30px;
      }
    }
  }

  .#{$devui-prefix}-select-selection {
    width: 90px;

    .#{$devui-prefix}-select-input {
      height: 32px;
    }
  }
}

.tool {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin-left: 12px;
  background-color: $devui-base-bg;
  box-shadow: $devui-shadow-length-base rgba(81, 112, 255, 0.4);
  cursor: pointer;

  &.disabled {
    opacity: 0.5;
  }

  span {
    border: 0 !important;
  }

  .switch-view {
    padding: 0 8px;

    &:hover {
      color: $devui-link !important;
    }
  }
}

.#{$devui-prefix}-dropdown-menu {
  top: 10px !important;
  left: -6px !important;
}
