@import '../../style/mixins/flex';
@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-cascader {
  @include flex(flex-start);

  position: relative;

  > div:nth-child(1) {
    width: 100%;
  }

  &__icon {
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    @include flex;
    @include flex-direction;

    .icon {
      margin: 0;
    }
  }

  &__close {
    cursor: pointer;
  }

  &__disbaled {
    .icon {
      color: $devui-disabled-text !important;
    }
  }

  input {
    width: 100%;
    padding-right: 16px;
  }

  &__drop-menu-wrapper {
    display: block;
    font-size: 0;
    white-space: nowrap;
    padding: 0;
  }

  &--drop-icon-animation {
    transition: transform 0.2s linear;
  }

  &__drop-menu-animation {
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  &__dropdown-menu {
    width: auto;
    padding-bottom: 0;
    @include flex('flex-start');
  }

  &__panel {
    padding: 12px 12px;
    max-height: 300px;
    overflow-y: auto;
  }

  &__suggest-list {
    height: 32px;
    padding: 8px 12px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 400;
    font-size: $devui-font-size;
    text-align: left;
    border-radius: $devui-border-radius;

    &:hover {
      color: $devui-brand-active;
      background-color: $devui-list-item-hover-bg;
    }
  }
}

.#{$devui-prefix}-cascader__dropdown--open {
  .#{$devui-prefix}-cascader--drop-icon-animation {
    transform: rotate(180deg);
  }
}
