@import '../../styles-var/devui-var.scss';

.devui-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border: none;
  margin: 0;
  padding: 0;

  &-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  &-striped {
    tbody tr:nth-child(even) {
      background-color: $devui-list-item-strip-bg;
    }
  }

  &-empty {
    width: 100%;
    font-size: $devui-font-size;
    text-align: center;
  }

  &-view {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

    & .scroll-view {
      flex: 1;
      overflow-y: scroll;
    }
  }
}
