@import '../../../../styles-var/devui-var.scss';

.#{$devui-prefix}-scroll-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  * {
    user-select: none;
  }

  .box-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .box-content-behavior-auto {
    scroll-behavior: auto;
  }

  .box-sroll {
    width: 8px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(212, 107, 107, 0);

    .scroll-child {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: $devui-line;
      border-radius: 8px;
    }
  }
}
