.#{$devui-prefix}-menu-vertical,
.#{$devui-prefix}-menu-horizontal {
  a,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }

  ul,
  li {
    list-style: none;
    white-space: nowrap;
  }
}
