@import '../../../../styles-var/devui-var.scss';

.devui-table {
  &__thead {
    tr {
      font-size: $devui-font-size-card-title;
      color: $devui-text;
      font-weight: 700;
      border: none;
      background-color: $devui-base-bg;

      th {
        display: table-cell;
        text-align: left;
        padding: 0 0 0 18px;
        border: none;
        border-bottom: 1px solid $devui-line;
      }

      .sort-active {
        background-color: $devui-list-item-hover-bg;
        border-radius: $devui-border-radius 0 0 $devui-border-radius;
      }
    }

    .header-container {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 2px;
      padding-right: 8px;

      .title {
        display: inline-block;
        line-height: 36px;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: default;
      }
    }
  }
}

.devui-table {
  &--header-bg {
    thead.devui-table__thead {
      tr {
        background: var(--devui-list-item-hover-bg, #f2f5fc);
      }
    }
  }
}
