// @import '~ng-devui/styles-var/devui-var.scss';
@import '../src/card.scss';

.card-icon {
  cursor: pointer;
  font-size: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

.card-icon + span {
  vertical-align: middle;
}

.card-block {
  margin-right: 16px;
}

.d-card {
  cursor: pointer;
  transition:
    box-shadow 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
}

.card-container {
  width: 350px;
}
