@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-popover__icon-wrap {
  width: 16px;
  height: 16px;
  margin-right: 8px;

  .#{$devui-prefix}-popover__icon.#{$devui-prefix}-popover__icon--success > g {
    & > path {
      fill: $devui-success;
    }

    & > circle,
    & > polygon {
      fill: $devui-light-text;
    }
  }

  .#{$devui-prefix}-popover__icon.#{$devui-prefix}-popover__icon--warning > g {
    & > path {
      fill: $devui-warning;
    }

    & > polygon {
      fill: $devui-light-text;
    }
  }

  .#{$devui-prefix}-popover__icon.#{$devui-prefix}-popover__icon--info > g {
    & > g {
      fill: $devui-info;
    }

    & > circle {
      fill: $devui-light-text;
    }
  }

  .#{$devui-prefix}-popover__icon.#{$devui-prefix}-popover__icon--error > g {
    & > path {
      fill: $devui-danger;
    }

    & > circle {
      fill: $devui-light-text;
    }
  }
}
