@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-modal__mask {
  justify-content: center;
  align-items: center;
  background-color: $devui-shadow;
}

.#{$devui-prefix}-modal {
  position: relative;
  width: 300px;
  border-radius: $devui-border-radius;
  border: none;
  background-color: $devui-fullscreen-overlay-bg;
  background-clip: padding-box;
  outline: 0;
  box-shadow: $devui-shadow-length-fullscreen-overlay $devui-shadow;

  .btn-close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;

    &:hover {
      color: $devui-icon-fill-active-hover;
      background-color: $devui-list-item-hover-bg;
    }
  }
}

.#{$devui-prefix}-modal-content {
  background: $devui-fullscreen-overlay-bg;
  border-radius: $devui-border-radius;
}

.#{$devui-prefix}-modal__header {
  width: 100%;
  height: 56px;
  padding: 32px 32px 0;
  font-size: $devui-font-size-card-title;
  font-weight: bold;
  box-sizing: border-box;
  border: none;
  user-select: none;

  .header-alert-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    line-height: 16px;
    text-align: center;
  }
}

.#{$devui-prefix}-modal__body {
  padding: 20px 32px;
  font-size: $devui-font-size;
  color: $devui-text-weak;
  box-sizing: border-box;
}

.#{$devui-prefix}-modal__footer {
  width: 100%;
  border-top: none;
  text-align: center;
  padding: 0 32px 24px;
  box-sizing: border-box;

  & > * {
    margin: 0 4px;
  }
}

.#{$devui-prefix}-modal--wipe {
  @mixin wipe-in-out-animation {
    animation-name: wipe-in-out;
    animation-duration: 0.3s;
  }
  @keyframes wipe-in-out {
    0% {
      opacity: 0.2;
      transform: translateY(-24px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-enter-from {
    opacity: 0.2;
  }

  &-enter-active {
    @include wipe-in-out-animation;
  }

  &-leave-to {
    opacity: 1;
  }

  &-leave-active {
    @include wipe-in-out-animation;

    animation-direction: reverse;
  }
}
