@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-modal {
  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $devui-z-index-modal;

    &-wrap {
      background: #ffffff;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      padding-bottom: 10px;
      margin-right: 16px;
      word-break: break-all;

      &-close {
        z-index: $devui-z-index-modal;
        cursor: pointer;
      }
    }

    &-body {
      padding: 30px 20px;
      word-break: break-all;
      color: #606266;
      font-size: 14px;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px 20px 20px 20px;
    }
  }
}
.#{$devui-prefix}-modal--wipe {
  &-enter-active {
    transition: opacity 0.1s cubic-bezier(0.16, 0.75, 0.5, 1), transform 0.1s cubic-bezier(0, 0, 1, 1);
  }

  &-leave-active {
    transition: opacity 0.1s cubic-bezier(0.5, 0, 0.84, 0.25), transform 0.1s cubic-bezier(0, 0, 1, 1);
  }

  &-enter-from,
  &-leave-to {
    opacity: 0.2;
    transform: translateY(-24px);
  }
}
