@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: auto;
  background-color: $devui-base-bg;
}

.#{$devui-prefix}-fullscreen__html {
  overflow: hidden;
}

:not(:root):fullscreen::backdrop {
  background: $devui-base-bg;
}
