@import '../../../../styles-var/devui-var.scss';

.#{$devui-prefix}-calendar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  user-select: none;
  position: relative;
}
