@import '../../style/mixins/index';
@import '../../style/theme/color';
@import '../../style/theme/font';
@import '../../style/theme/shadow';
@import '../../style/theme/corner';

.devui-input-number {
  position: relative;
  display: inline-block;
  width: 80px;
  line-height: 38px;
  margin-right: 12px;

  &:hover:not(.devui-input-disabled) {
    .devui-input-box {
      border-color: var(--devui-form-control-line-hover);
    }

    .devui-control-buttons:not(.disabled) {
      display: flex;
      border-color: var(--devui-form-control-line-hover);
    }
  }

  &:focus-within {
    .devui-control-buttons {
      display: flex;
    }
  }

  .active {
    border: 1px solid var(--devui-form-control-line-active) !important;
    display: flex !important;
  }

  &.devui-input-disabled {
    .devui-subtract,
    .devui-add,
    .devui-input-style {
      cursor: not-allowed;
      border-color: #e4e7ed;
      color: #e4e7ed;
    }

    .devui-input-style {
      border-color: var(--devui-disabled-line) !important;
      color: var(--devui-disabled-text) !important;
      background-color: var(--devui-disabled-bg) !important;
    }
  }

  &.devui-input-number-sm {
    .devui-subtract,
    .devui-add {
      width: 40px;
      height: 34px;
      line-height: 34px;
    }

    .devui-input-style {
      height: 34px;
      line-height: 34px;
    }
  }

  &.devui-input-number-lg {
    .devui-subtract,
    .devui-add {
      width: 60px;
    }
  }

  .devui-input-item {
    line-height: 100%;
  }

  .devui-input-style::-webkit-outer-spin-button,
  .devui-input-style::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .devui-add,
  .devui-subtract {
    display: inline-block;
    width: 50px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    color: #333333;
    background: #f5f7fa;
    cursor: pointer;
    border: 1px solid #dcdfe6;
  }

  .devui-add {
    float: right;
    margin-left: -1px;
    border-radius: 0 4px 4px 0;
  }

  .devui-subtract {
    float: left;
    margin-right: -1px;
    border-radius: 4px 0 0 4px;
  }

  .devui-input-style {
    display: block;
    -moz-appearance: textfield;
  }

  .devui-input-style {
    outline: none;
    background-color: var(--devui-base-bg);
    border: 1px solid var(--devui-form-control-line);
    border-radius: var(--devui-border-radius);
    padding: 4px 8px;
    line-height: 18px;
    font-size: var(--devui-font-size);
    color: var(--devui-text);
    width: 100%;
    display: block;
    cursor: text;
    height: 28px;
    transition: border-color 0.3s var(--devui-animation-ease-in-out-smooth);
  }

  .devui-input-box {
    box-sizing: border-box;
    padding: 4px 8px;
    font-size: var(--devui-font-size);
    vertical-align: middle;
    border-radius: var(--devui-border-radius);
    outline: none;
    width: 100%;
    line-height: 20px;
    height: 28px;
    border-width: 1px;
    border-style: solid;

    &:not(.disabled) {
      background-color: var(--devui-base-bg);
      border-color: var(--devui-line);
      color: var(--devui-text);
    }
  }

  .disabled {
    cursor: not-allowed;
  }

  .devui-control-buttons {
    display: none;
    position: absolute;
    right: 0;
    width: 22px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--devui-line);
    box-sizing: border-box;
    line-height: 100%;
    border-radius: 0 var(--devui-border-radius) var(--devui-border-radius) 0;

    &:not(.disabled) {
      cursor: pointer;
    }

    & > span {
      display: flex;
    }
  }
}
