@import '../../style/mixins/size';
@import '../../style/mixins/flex';
@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-search {
  position: relative;
  @include flex;

  &:not(.#{$devui-prefix}-search--error):not(.#{$devui-prefix}-search--disabled):not(.#{$devui-prefix}-search--focus):hover {
    .#{$devui-prefix}-input {
      border-color: $devui-form-control-line-hover;
    }
  }

  .#{$devui-prefix}-input {
    padding: 4px 60px 4px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $devui-form-control-line;
    border-radius: $devui-border-radius;
    background-color: $devui-form-control-bg;
    transition: border-color 0.3s $devui-animation-ease-in-out-smooth;

    &__inner {
      padding: 0;
    }

    &__wrapper {
      border: none;
      padding: 0;
    }
  }

  &--focus {
    .#{$devui-prefix}-input {
      border-color: $devui-form-control-line-active;
    }
  }

  svg.svg-icon-clear path,
  svg.svg-icon-search path {
    fill: $devui-icon-text;
  }

  &__clear {
    position: absolute;
    right: 36px;
    cursor: pointer;
    height: 100%;
    font-size: 10px;
    @include size(30px, 100%);
    @include flex;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 46%;
      border-left: 1px solid $devui-dividing-line;
    }
  }

  &__icon {
    pointer-events: all;
    cursor: pointer;
    padding: 0 8px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    font-size: 16px;
    @include size(36px, 28px);
    @include flex;
  }

  &--sm {
    .#{$devui-prefix}-input {
      &.#{$devui-prefix}-input--sm {
        padding-right: 56px;
      }
    }

    .#{$devui-prefix}-search__icon {
      font-size: 14px;
      @include size(34px, 26px);
    }

    .#{$devui-prefix}-search__clear {
      @include size(26px, 100%);

      right: 34px;
    }
  }

  &--lg {
    .#{$devui-prefix}-input {
      padding: 4px 36px 4px 10px;

      &.#{$devui-prefix}-input--lg {
        padding-right: 70px;
      }
    }

    .#{$devui-prefix}-search__icon {
      font-size: 18px;
      @include size(46px, 46px);
    }

    .#{$devui-prefix}-search__clear {
      @include size(30px, 100%);

      right: 46px;
    }
  }

  &--disabled {
    .#{$devui-prefix}-input {
      cursor: not-allowed;
      border-color: $devui-disabled-line;
      background-color: $devui-disabled-bg;
    }

    .#{$devui-prefix}-search__icon {
      cursor: not-allowed;
    }

    .icon-search {
      color: $devui-disabled-text !important;
    }
  }

  &--left {
    .#{$devui-prefix}-input {
      padding: 4px 26px 4px 30px;

      &.#{$devui-prefix}-input--lg {
        padding-right: 28px;
        padding-left: 48px;
      }

      &.#{$devui-prefix}-input--sm {
        padding-right: 24px;
      }
    }

    .#{$devui-prefix}-search__clear {
      right: 0;

      &::after {
        display: none;
      }
    }

    .#{$devui-prefix}-search__icon {
      left: 0;
    }
  }

  &--no-border {
    .#{$devui-prefix}-input {
      border: none;
    }
  }
}
