@import '../../../style/mixins/flex';
@import '../../../styles-var/devui-var.scss';

.#{$devui-prefix}-cascader {
  &__ul {
    height: 180px;
    background: $devui-connected-overlay-bg;
    display: block;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    border-left: 1px solid $devui-dividing-line;
    padding: 12px;
  }

  &__drop-no-data {
    color: $devui-disabled-text;
    padding: 8px;
    display: block;
    height: 36px;
    line-height: 36px;
    overflow-y: hidden;
    background-color: $devui-disabled-bg;
    font-size: $devui-font-size;
    @include flex(center, flex-start);
    @include flex-direction();
  }
}
