@import '../../../style/mixins/flex';
@import '../../../style/theme/color';

.devui-cascader-ul {
  width: 200px;
  height: 180px;
  background: $devui-connected-overlay-bg;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  border-left: 1px solid $devui-dividing-line;
}
