@import '@devui/theme/styles-var/devui-var.scss';

.gantt-container {
  overflow: scroll;

  .header {
    position: relative;
    border-bottom: 1px solid $devui-dividing-line;
  }

  .body {
    position: relative;
    min-height: 400px;
    height: 100%;

    .item {
      height: 40px;
      padding-top: 8px;
    }
  }

  button {
    color: $devui-text;
  }
}

.tool {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin-left: 12px;
  background-color: $devui-base-bg;
  box-shadow: $devui-shadow-length-base rgba(81, 112, 255, 0.4);
  cursor: pointer;

  span {
    border: 0 !important;
  }
}