@import '../../style/theme/color';

.devui-tooltip {
  box-sizing: border-box;

  .tooltip {
    box-sizing: border-box;
    position: absolute;
    width: fit-content;
    transition: all 0.5s;

    .arrow {
      width: 0;
      height: 0;
      position: absolute;
    }

    .tooltipcontent {
      box-sizing: border-box;
      padding: 10px;
      margin-left: 10px;
      border-radius: 4px;
      width: fit-content;
      background-color: $devui-feedback-overlay-bg;
      color: $devui-feedback-overlay-text;
    }
  }
}
