@import '../../../styles-var/devui-var';

.#{$devui-prefix}-overlay__background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;

  &--color {
    background: rgba(0, 0, 0, 0.4);
  }

  .#{$devui-prefix}-overlay {
    position: relative;
    z-index: 1000;
    pointer-events: auto;
  }

  &--disabled {
    pointer-events: none;
  }
}
