@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-toast {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 20em;
  word-break: normal;
  word-wrap: break-word;
  z-index: 1000;

  &__item {
    position: relative;
    margin: 0 0 8px;
    opacity: 0.95;
    padding: 12px 15px;
    box-shadow: var(--devui-shadow-length-feedback-overlay, 0 4px 16px 0) var(--devui-shadow, rgba(37, 43, 58, 0.2));
    border-radius: 4px;
    color: #dfe1e6;
    background-color: #464d6e;

    &-show-toast {
      animation: show-toast 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &-hide-toast {
      animation: hide-toast 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &-icon {
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      left: 16px;
      top: 10px;
      padding: 0;
    }

    &-close {
      position: absolute;
      top: 7px;
      right: 10px;
      cursor: pointer;
    }

    &-content {
      font-size: 14px;
      margin-left: 22px;

      &-wrap {
        margin-top: 4px;
      }
    }
  }
}

@keyframes show-toast {
  from {
    left: 150%;
  }

  to {
    left: 0;
  }
}

@keyframes hide-toast {
  from {
    left: 0;
  }

  to {
    left: 150%;
  }
}
