@import '../../styles-var/devui-var';

$cell-font-size: 13px;
$border-width: 1px;
$border-style: solid;
$border-color: #dddddd;
$input-border-color: #0066cc;

.#{$devui-prefix}-datepicker-container {
  .input-container {
    border: 1px solid $input-border-color;
    border-radius: $devui-border-radius;
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
  }

  .datepicker-input {
    position: relative;
    width: 100%;

    input {
      border: 0 solid #000000;
      outline: none;
      margin-right: 20px;
    }
  }

  .datepicker-input-icon {
    position: absolute;
    z-index: 9;
    right: 6px;
  }

  .#{$devui-prefix}-datepicker-panel {
    border: 1px solid #000000;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-width: $border-width;
    border-style: $border-style;
    border-color: $border-color;
    border-radius: $devui-border-radius-card;
    box-shadow: $devui-shadow-length-base $devui-shadow;
    background-color: $devui-base-bg;
    font-size: $cell-font-size;
    position: absolute;
    z-index: 99;
  }
}
