@import '../../style/theme/color';
@import '../../style/theme/corner';
@import '../../style/theme/font';

.devui-modal-wrapper {
  justify-content: center;
  align-items: center;
  background-color: $devui-shadow;
}

.devui-modal-content {
  background: $devui-fullscreen-overlay-bg;
  border-radius: $devui-border-radius;
}

.devui-modal-body {
  padding: 20px 32px;
  color: $devui-text-weak;
}

.devui-modal-header {
  padding: 32px 32px 0;
  height: 56px;
  position: relative;
  border: none;

  .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: $devui-font-size-icon;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }
}

.devui-modal-footer {
  border-top: none;
  text-align: center;
  padding: 0 32px 24px;
}
