.calendar-toolbar {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  height: 36px;
  user-select: none;
  font-weight: bold;
}

.calendar-toolbar a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.calendar-toolbar a:hover {
  color: #0066cc;
}
