@import '../../styles-var/devui-var.scss';

.devui-table {
  width: 100%;
  overflow-x: auto;
  padding-top: 8px;

  &__view {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: none;
    margin: 0;
    padding: 0;
  }

  &--striped {
    tbody tr:nth-child(even) {
      background-color: $devui-list-item-strip-bg;
    }
  }

  &__empty {
    width: 100%;
    font-size: $devui-font-size;
    text-align: center;
  }

  &__fix-header {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  &__scroll-view {
    flex: 1;
    overflow: scroll;
  }

  &--layout-auto {
    table-layout: auto;
  }

  &--sm {
    tbody > tr > td {
      padding: 7px 20px 8px;

      &.devui-table__checkable-cell {
        padding: 8px;
      }
    }

    thead > tr > th.devui-table__checkable-cell {
      padding: 8px;
    }
  }

  &--md {
    tbody > tr > td {
      padding: 11px 20px 12px;
    }

    thead > tr > th.devui-table__checkable-cell {
      padding: 8px 20px;
    }
  }

  &--lg {
    tbody > tr > td {
      padding: 15px 20px 16px;
    }

    thead > tr > th.devui-table__checkable-cell {
      padding: 8px 20px;
    }
  }
}
