@import '../../style/theme/color';
@import '../../style/core/animation';

.devui-editable-select {
  .devui-select-chevron-icon {
    display: inline-flex;
    vertical-align: middle;
    transition: transform $devui-animation-duration-slow $devui-animation-ease-in-out-smooth;
  }

  input::-ms-clear {
    display: none;
  }

  .devui-no-data-tip {
    user-select: none;
    cursor: not-allowed;
  }

  .devui-form-control {
    outline: none;
    padding-right: 24px;
  }

  .devui-dropdown-menu {
    width: 100%;
    display: block;
    // TODO: 全局样式被污染，暂时只能这么写
    top: auto !important;
    left: auto !important;
  }

  .devui-dropdown-menu-cdk {
    position: static;
  }

  .devui-dropdown-item {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 8px 12px;
    clear: both;
    border: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 14px;
  }

  .devui-dropdown-menu {
    .devui-dropdown-item:not(.disabled) {
      &.selected {
        color: $devui-list-item-active-text;
        background-color: $devui-list-item-active-bg;
      }
    }
  }

  .devui-no-result-template,
  .devui-is-searching-template {
    display: block;
    width: 100%;
    padding: 8px 12px;
    clear: both;
    border: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: not-allowed;
    background-color: $devui-disabled-bg;
    color: $devui-disabled-text;
    line-height: 14px;

    &:hover,
    &:active,
    &:hover:active {
      background-color: $devui-unavailable;
    }
  }

  /* 选项disabled */
  .devui-dropdown-item.disabled,
  .devui-dropdown-item.disabled:hover {
    cursor: not-allowed;
    color: $devui-disabled-text;
  }

  ul.devui-list-unstyled {
    margin: 0;
    overflow-y: auto;
    padding: 0;
  }

  .devui-dropdown-bg {
    background: $devui-list-item-hover-bg;
  }

  .devui-popup-tips {
    color: $devui-text-weak;
    padding: 4px 12px;
  }
}

.devui-editable-select.devui-select-open {
  .devui-select-chevron-icon {
    transform: rotate(180deg);
  }

  .devui-select-chevron-icon svg path {
    fill: $devui-text-weak;
  }
}

.devui-editable-select.devui-form-group.devui-has-feedback > .devui-form-control-feedback {
  line-height: 26px;
}

.devui-editable-select-dropdown {
  .devui-dropdown-menu {
    width: 100%;
    display: block;
    // TODO: 全局样式被污染，暂时只能这么写
    top: auto !important;
    left: auto !important;
  }

  .devui-dropdown-menu-cdk {
    position: static;
  }

  .devui-dropdown-item {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 8px 12px;
    clear: both;
    border: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 14px;
  }

  .devui-dropdown-menu {
    .devui-dropdown-item:not(.disabled) {
      &.selected {
        color: $devui-list-item-active-text;
        background-color: $devui-list-item-active-bg;
      }
    }
  }

  .devui-no-result-template,
  .devui-is-searching-template {
    display: block;
    width: 100%;
    padding: 8px 12px;
    clear: both;
    border: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: not-allowed;
    background-color: $devui-disabled-bg;
    color: $devui-disabled-text;
    line-height: 14px;

    &:hover,
    &:active,
    &:hover:active {
      background-color: $devui-unavailable;
    }
  }

  /* 选项disabled */
  .devui-dropdown-item.disabled,
  .devui-dropdown-item.disabled:hover {
    cursor: not-allowed;
    color: $devui-disabled-text;
  }

  ul.devui-list-unstyled {
    margin: 0;
    overflow-y: auto;
    padding: 0;
  }

  .devui-dropdown-bg {
    background: $devui-list-item-hover-bg;
  }

  .devui-popup-tips {
    color: $devui-text-weak; // TODO: Color-Question
    padding: 4px 12px;
  }
}
