@import '../../../style/devui.scss';

.devui-drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.devui-overlay-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
}

.devui-overlay-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background: $devui-shadow;
  width: 100vw;
  height: 100vh;
}

.devui-drawer-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: $devui-border-radius;
  background: $devui-base-bg;
}

.devui-drawer-content {
  border-radius: $devui-border-radius;
  overflow: auto;
  box-shadow: $devui-shadow-length-fullscreen-overlay $devui-shadow;
  padding: 20px;
  height: 100vh;
}
