@import '../drawer.scss';

.devui-drawer-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & .devui-drawer-header-item + .devui-drawer-header-item {
    padding-left: 12px;
  }
}
