@import '../../../../style/theme/color';

.devui-time-axis-item-type {
  &-primary {
    border: 2px solid $devui-placeholder;
    border-radius: 50%;
  }

  &-right {
    i {
      color: $devui-success;
    }
  }

  &-danger {
    path {
      fill: $devui-danger;
    }

    circle {
      fill: $devui-light-text;
    }
  }

  &-warning {
    i {
      color: $devui-warning;
    }
  }

  &-running {
    line-height: 16px;
    text-align: center;
    animation: devui-time-axis-running 1.5s linear infinite;
    border: 2px solid $devui-success;
    border-radius: 50%;
  }
}

@keyframes devui-time-axis-running {
  0% {
    transform: rotate(0deg);
    color: $devui-success;
    border-color: $devui-success;
  }

  50% {
    transform: rotate(180deg);
    color: $devui-success;
    border-color: $devui-success;
  }

  100% {
    transform: rotate(360deg);
    color: $devui-success;
    border-color: $devui-success;
  }
}
