@import '../../../../styles-var/devui-var.scss';

$input-height-md: 28px;

.#{$devui-prefix}-table {
  &__tbody {
    tr {
      font-size: $devui-font-size;
      color: $devui-text;
      background-color: $devui-base-bg;
      border: none;

      &.hover-enabled:hover {
        background-color: $devui-list-item-hover-bg;
      }

      td .icon-expand-row:hover {
        cursor: pointer;
      }

      &.expanded td .icon-expand-row {
        transform: rotate(45deg);
      }

      td {
        background-clip: padding-box;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24px;
        border: none;
        border-bottom: 1px solid $devui-dividing-line;

        &.is-left {
          text-align: left;
        }

        &.is-center {
          text-align: center;
        }

        &.is-right {
          text-align: right;
        }

        .editable-cell {
          position: relative;
          cursor: pointer;

          &:hover::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 1px solid $devui-line;
            border-radius: $devui-border-radius;
            pointer-events: none;
          }
        }

        .#{$devui-prefix}-table__cell {
          .cell-text {
            height: $input-height-md;
            line-height: $input-height-md;
            padding-left: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .is-hidden {
      display: none;
    }
  }
}

.#{$devui-prefix}-table {
  &--sticky-cell {
    position: sticky;
    z-index: 5;
    background-color: inherit;

    &.left {
      box-shadow: rgba(0, 0, 0, 0.05) $devui-shadow-length-slide-right;
    }

    &.right {
      box-shadow: rgba(0, 0, 0, 0.05) $devui-shadow-length-slide-left;
    }
  }
}
