@import '../../../../style/theme/color';
@import '../../../../style/theme/shadow';
@import '../../../../style/theme/corner';
@import '../../../../style/core/_font';

.time-popup {
  height: 310px;
  position: fixed;
  z-index: -1;
  background-color: #ffffff;
  box-shadow: $devui-shadow-length-connected-overlay;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  transition-property: visibility, opacity, z-index;
}

.show-popup {
  visibility: visible;
  z-index: 1052;
  opacity: 1;
  transition-property: visibility, opacity, z-index;
}

.popup-btn {
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ok-btn {
    width: 80px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #5e7ce0;
    font-size: 14px;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }

  .slot-time {
    font-size: $devui-font-size-card-title;
    cursor: pointer;
  }

  .slot-time:hover {
    color: $devui-primary-hover;
    text-decoration: underline;
  }
}
