@import '../../styles-var/devui-var.scss';

.#{$devui-prefix}-radio-group {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  &.is-row {
    flex-direction: row;
  }

  &.is-column {
    flex-direction: column;
  }

  .#{$devui-prefix}-radio__wrapper {
    &:not(:last-child) {
      padding-right: 20px;
    }
  }
}
