name: Auto publish package to npm

on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: CheckOut Code
        uses: actions/checkout@master

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'

      - name: Run Build Scripts
        working-directory: packages/devui-vue/
        run: |
          ls
          node -v
          npm install pnpm -g
          pnpm -v
          pnpm i
          pnpm run build:lib

      - name: Publish
        working-directory: packages/devui-vue/build
        run: |
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{  secrets.GIT_TOKEN  }}
